* {
	margin:0;
	padding:0;
	}
body {
	background-attachment:fixed;
	background-color: #edebf4;
	padding:14px 20px 0 73px;
	margin:0;
	font:normal 15px/18px verdana;
	}

#navigation
{
float: right;
margin: 1em;
background-color: #3f3980;
padding: 10px;
}
#navigation li
{
list-style-type: none;
font-weight: bold;
font-size: 16px;
margin-bottom: 1em;
}

#navigation li a
{
text-decoration: none;
color: #fff;
}

#navigation li a:hover
{
text-decoration: underline;
}

#main
{
width: 50% !important;
min-width: 800px;
width: 800px;
margin: auto;
position: relative;
}

#header
{
background:transparent url("/media/images/logo.png") no-repeat top left;
height: 130px;
position: relative;
}

#header h1
{
top: 55px;
right: 10px;
position: absolute;
font:bold 32px Georgia;
}
#frame
{
background-color: #fff;
}
#content
{
position: relative;
background:transparent url("/media/images/banner.png") no-repeat top left;
padding: 20px 80px;
width: 550px;
}

#content h3
{
color: #3f3980;
background-color: #fff;
}
#content div.section
{
margin-bottom: 1em;
}

#content p
{
margin-bottom: .5em;
}

#content dt
{
font-weight: bold;
}

#content dd
{
margin-left: 10px;
}