<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{% block title %}Healing Circle Natural Health{% endblock %}</title>
    {% block css %}<link rel="stylesheet" type="text/css" href="/media/css/base.css">{% endblock %}
    {% block section_css %}{% endblock %}
    {% block page_css %}{% endblock %}
</head>
<body>
<div id="page">
<div id="main">
	<div id="header">
	<h1>HEALING CIRCLE NATURAL HEALTH</h1>
	</div>
	<div id="frame">
	<div id="navigation">
	{% block navigation %}
	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/services/">Services</a></li>
	  <li><a href="/resume/">Resume</a></li>
	  <li><a href="/intake/">Health Form</a></li>
	</ul>
	{% endblock %}
	</div>
	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
	
	</div>
</div>

</body>
</html>
