{% extends "static_section.html" %}

{% block content %}
			<h3><span>Welcome to Healing Circle Natural Health.</span></h3>
			<div class="section">
				<p>If you are ready to make a change and take charge of your health, you’ve come to the right place. At Healing Circle Natural Health we empower you to take control and make healthier choices for your life.  Whether it’s a change in diet, adding exercise or getting regular massage, we can help you create wellness in your life.  </p>
				<p><strong>What is Naturopathy?</strong>  Naturopathy means different things to different people. Simply, it is giving the body an environment where it can heal itself and thrive. Naturopathy’s goal is to use nature to help the body heal.  Whether it’s adding something like supplements or herbs, or taking things away like stress, polluted water or certain foods, we try to encourage nature to take charge. </p>
			</div>
				<h3>About Kathy Gruver</h3>
			<div class="section">
				<p>Kathy Gruver has been involved in natural health since 1990.  Even as a child she was interested in massage, energy healing and natural remedies.  She is a graduate of Clayton College of Natural Health with highest honors with her Doctorate in Traditional Naturopathy and is currently pursuing her MS and Ph.D. in Natural Health.</p>
				<p>A licensed massage therapist, Reiki master and birth assistant, Kathy can provide gentle, informative health consultations to guide you on the road to wellness.  Taking into account that no two people are the same, Kathy works holistically to design a program to fit your needs and lifestyle.</p>
				<p><img src="/media/images/kathy.jpg" alt="Kathy Gruver"></p>
				<a href="/resume/">Current Resume</a>
			</div>
				<h3>Mission Statement</h3>
			<div class="section">
				<p>I believe, in the right environment, the body has the unique ability to heal itself.  We live in a time of incredible medical achievement, but sometimes modern medicine just covers up symptoms, or causes more disease. Prescription drugs have become the “magic bullet” and unnecessary surgeries and procedures are rampant.  Natural cures that have existed for centuries are now making their way back to the lives of us all.</p>
				<p>Everything has its place and all the therapies that exist have value at different times.</p>
				<p>It is important for people to realize that they have the ability to heal, but they also have a responsibility to take care of themselves.  No one thing or person can do it for them. There are no guarantees.  Live a good life, laugh and love. Eat well and exercise and let nature work from there.</p>
			</div>
		</div>
	</div>

{% endblock %}
