{% extends "base.html" %}

{% block content %}

<div id="dvd_header">
  <img src="/media/images/dvd_cover.jpg" alt=" " />
</div>

<div id="dvd_info">
  <p>Made for the beginner, this DVD covers basic anatomy, suggested hand positions and areas to avoid for optimal home health.  Special features include adapting a bed or the floor in place of a massage table, correct massage terminology, even a guessing game to point out right and wrong techniques.  Follow along with Kathy Gruver, a Certified Medical Massage Therapist, to learn a comprehensive back and neck massage in the comfort of your own home.</p>

  <p>Already massage your loved ones? Hone your technique and protect your hands.</p>
  <p>Always wanted to learn massage?</p>
  <p>Either way, this DVD is for you!</p>

  <h2>24.99 + Tax</h2>
  <p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      
      <input type="hidden" name="cmd" value="_xclick" />
      <input type="hidden" name="business" value="healingcirclemassage@hotmail.com" />
      <input type="hidden" name="lc" value="US" />
      <input type="hidden" name="item_name" value="Therapeutic Massage at Home DVD" />
      <input type="hidden" name="amount" value="24.99" />
      <input type="hidden" name="currency_code" value="USD" />
      <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest" />
      <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
      <img alt=" " border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </p>
  <p>To order by phone, please call (805) 680-1984.<br/>Credit cards accepted over the phone.</p>
  <p>NewsPress coupon holders, <br/>please call for ordering information</p>  
</div>

<h2 id="review"><a href="http://www.bigblendmagazine.com/Body-Mind-Spirit/Therapeutic-Massage.htm" rel="external">Read the review from Big Blend Magazine</a></h2>
  &nbsp;

<div id="behind_the_scenes">

  <h2>Behind The Scenes</h2>
  <img src="/media/images/shoot1.jpg" alt=" " />
  <img src="/media/images/shoot2.jpg" alt=" " />
  <img src="/media/images/shoot3.jpg" alt=" " />
  <img src="/media/images/shoot4.jpg" alt=" " />
  
</div>

{% endblock %}
