{% extends "base.html" %}

{% block content %}

<div id="dvd_header">
  <img src="/media/images/dvd_cover.png" alt=" " />
</div>

<div id="dvd_info">
  <h2>24.99 + Tax</h2>
  <p>Available in Time for Mother's Day!</p>
  <p>Preorder by April 16nd for Free Shipping and Handling</p>
  <p>To order by phone, please call (805)680-1984. Credit cards accepted over the phone.</p>
</div>

<div id="behind_the_scenes">

  <h2>Behind The Scenes</h2>
  <img src="/media/images/shoot1.jpg" alt=" " />
  <img src="/media/images/shoot2.jpg" alt=" " />
  <img src="/media/images/shoot3.jpg" alt=" " />
  <img src="/media/images/shoot4.jpg" alt=" " />

</div>

</div>

{% endblock %}
