{% extends "base.html" %}

{% block content %}
<div id="resume">
<div class="header">
<img src="/media/images/kathy_headshot_t.jpg" />
<h1>Kathy L. Gruver, LMT, RM, NHC</h1>
<p>Doctorate of Traditional Naturopathy</p>
<p>PO Box 3184</p>
<p>Santa Barbara, CA 93130</p>
<p>805-680-1984</p>
<p><a href="mailto:healingcirclemassage@hotmail.com">healingcirclemassage@hotmail.com</a></p>
</div>
<dt>Training and Education:</dt>
<dd>
  <p>2007- January 2009 <strong>Clayton College of Natural Health. M.S. in Natural Health</strong> Curriculum included Nutrition, Biology, Cancer Treatment, Anatomy, Holistic Development, Healing Relationships, Homeopathy for Animals, Psychospiritual Health, Herb/Vitamin/Mineral/RX interaction, Personal Environment, Mind/Body Wellness. Currently pursuing a Ph.D. in Natural Health.</p>
  <p>2008 <strong>Comprehensive Nutrition Training. Crayhon Research.</strong> 16 hours of lecture on latest nutritional breakthroughs, eating and supplements for disease, politics of food, autoimmune disorders, gastrointestinal health, weight loss.</p>
  <p>2008 <strong>American Naturopath Medical Association Convention</strong> 26 hours of lecture on various topics such as Nutrition for Stress, Fingernail and Tongue Analysis, Chronic Pain, Iridology, Food and Disease, Carpal Tunnel Syndrome (non-surgical treatments), Client Communication, Inflammation, Cancer Therapies, Skin disorders, Legal Concerns and CPR Certification with the American Heart Assoc.</p>
  <p>June 2008 <strong>Food First Seminar with Crayhon Research</strong> 6 hour lecture on latest nutritional research and special diets for treating disease.</p>
  <p>March 2008 <strong>Food First Seminar with Crayhon Research</strong> 6 hour lecture on latest nutritional research and health.</p>
  <p>2007 <strong>Energetic Kinesiology and Muscle Testing</strong>  Nutritive Reflex Technique <u>8 hours</u> w. Dr. Lasneski.  Learn about the emotional, genetic, environmental, nutritive, structural and dysbiotic cause of losing health and how one can effect change. </p>
  <p>2007 <strong>American Naturopath Medical Association Convention</strong>   <u>26 hours</u> of lecture on various topics such as Cell Healing, Nutrition, Whole Foods, Minerals, Iridology, Detoxification, Children's Nutrition, Natural Pain Relief, Hormones, Emotional Medicine, Heart Disease, and Color Healing. With special workshops in Probiotics, Energy Balancing, Pain Relief and Intestinal Disorders.</p>
  <p>2006-2007 <strong>Clayton College of Natural Health</strong>  <u>Doctor of Naturopathy for Health Care Professionals</u>. Highest Honors. Curriculum included Herbology, Iridology, Homeopathy, Diet, Cleansing and Nutrition, Mind-body medicine, Practicum and Assessment techniques. </p>
  <p>2007 <strong>Healing And the Childbearing Year</strong>  Central Coast Doula Association Conference featuring Penny Simkin. Childhood Sexual Abuse and its effect on childbearing, Postpartum care, Infant care, Healing Remedies for the childbearing year. </p>
  <p>2007 <strong>Dr's Gaby and Wright Nutrition and Disease Lecture</strong> <u>4 day</u> lecture addressing every vitamin, mineral, enzyme and amino acid and information on nutrition for over 300 diseases and disorders. </p>
  <p>2006 American Naturopath Medical Association Convention <u>26 hours of lecture</u> on various topics such as Nutrition, Mind-body medicine, Herbs, Chinese Medicine, Breath work, Homeopathics, Cancer, Depression and Diabetes education. </p>
  <p>2006 <strong>Clayton College of Natural Health</strong> <u>Certificate of Natural Wellness</u> <strong>Highest Honors</strong>, Curriculum included Nutrition, Mind-Body Medicine, Alternative Practices, Holistic Lifestyles, and Energy Techniques.</p>
  <p>2004-2005   <strong>Stratford Career Institute</strong> <u>Natural Health Consultant Program</u>, <strong>Honors</strong>, Curriculum included Herbs, Homeopathy, Smoking Cessation, Diet, Exercise, Health Counseling and Digestive Health Issues.  </p>
  <p>2003  <strong>Medical Massage Certification, LMTSuccessGroup</strong>, <u>45 hour program</u> with training in Postural Distortion, Back Conditions, Cervical Conditions, Arm and Leg Disorders, Insurance Billing and Healing with E-Stim. </p>
  <p>2001  <strong>Training and Cerfitication, SB School of Massage</strong> <u>200 hour program</u> with training in Swedish, Sports, Shiatsu, On-site Chair, Chiropractic Massage, Pregnancy, Myofascial Release, Deep Tissue, Polarity Balancing, Anatomy and Ethics and Business. </p>
  <p>1995  <strong>Training and Certification School of Massage</strong>, Encino, CA. <u>75 hour program</u> with training in Swedish, Deep Tissue, Anatomy and Ethics.</p>
  <p>1990 <u>3 years</u> <strong>Private Study</strong> with Pat Mauro, LMT, RN, EMT; Pittsburgh, PA. Training in Deep Tissue, Body Manipulation, Herbs, and Intuitive Massage </p>
  <p>1988-1992 <strong>Point Park University</strong>, Pittsburgh, PA  <u>BFA theatre, Minor in Psychology</u>, graduated Cum Laude</p>
  <p><u>Reiki Certification</u> to <strong>Master Level</strong> with Diane Vaughn RM, Venice, CA. </p>
  <p>I have taught group as well as individual classes and perform healings and attunements.</p>
</dd>

<dl id="employment">
<dt>Employment:</dt>
<dd>
	<h2>Private Massage and Natural Health Practice, 2001-present</h2>
	<p>SANTA BARBARA, CA (formerly in Los Angeles, CA 1995-1999)</p>
	<p>Work with individuals (22-26/week) in a therapeutic setting for recovery from injuries/stress. Close work with local chiropractors for continuity of care. Use techniques including deep tissue, trigger point, acupressure, magnets, aromatherapy and Reiki. Currently employ 3 therapists as independent contractors. </p>
	<p class="accolade">Selected as a "Best Practice" by Massage Magazine for 2006 AND 2007</p>
	<h2>Santa Barbara Business College, September 2007 - present</h2>
	<P>SANTA BARBARA, CA </P>
	<p>Instructor for <u>Pathology for Massage</u> and <u>Nutrition for Fitness</u>. Tasks involve lecture, class planning, grading, exam design and research. </p>
	<h2>Massage Therapist/Chiropractic Assistant, 2001-2003</h2>
	<p>DR'S CRAVIOTTO, DAWSON AND WAGNER, DC's</p>
	<p>Work closely with chiropractors on treatment of their patients. Use primarily deep tissue and trigger point work. Active charting with SOAP notes and doctor conferences.  </p>
	<h2>Massage Therapist/Physical Therapy Aide, 2001</h2>
	<P>SANTA BARBARA INDUSTRIAL MEDICAL CENTER, PHYSICAL THERAPY DEPARTMENT</P>
	<p>Promote healing of pre and post op patients with various work-related injuries including low back strain, carpal tunnel, tendonitis, and knee and shoulder problems. Work directly with physicians, communication using SOAP notes. Utilize a variety of therapeutic options: massage, e-stim, heat packs, ice massage, stretching and weight training, ultrasound and paraffin dips. Typically see patients from onset of diagnosis through to discharge. </p>
</dd>

<dt>Professional:</dt>
<dd>
	<ul>
	  <li>Oct 2008 Lecture at Spiritland Bistro's Tuesday Nights for Healing. "How to stay sick: How to ensure you will be sick and unhappy the rest of your miserable life."</li>

	  <li>Oct 2008 Guest interview on The Business of Life radio (Office Wellness)</li>

	  <li>Sept 2008 Guest interview on Southwest Blend Radio (Bach Flower Essences)</li>

	  <li>Aug 2008 Guest interview on The Wellness Experience (Natural Health Consulting)</li>

	  <li>July 2008 Guest interview on Natural Solutions Radio.</li>

	  <li>May 2008 Panel Discussion at Girls Inc. on women in business.</li>
	  <li>Oct 2006, Jan 2007 Lectured at Antioch University on Depression and Natural Health</li>
	  
	  <li>Writer October '08 Bizchicksrule.com Avoiding stress October '08 Southwest Blend. Benefits of Massage October '08 Massagemag.com How to fire clients September '08 Bizchicksrule.com Networking for women August '08 Southwest Blend Bach Flower Essences August and December '07 issues of SB Fitness Magazine Massage Techniques, 10 Health Tips Nov/Dec '07 issue of Massage Magazine. Professionalism in Massage</li>

	  <li>Featured in articles in Massage Magazine, SB Fitness Magazine, Everyday Health.com, Different Strokes, Pacific Coast Business Times, Bottle Water Web and Dermascope Magazine.</li>

	  <li>Selected by Massage Magazine as a "Best Practice" for 2006 and 2007</li>

	  <li>Licensed for massage therapy in SB County and Cities of SB and Goleta.</li>

	  <li>Member of Associated Bodywork Massage Professionals, Clayton College Alumni Association, American Naturopath Medical Association, National Association of Women Business Owners, and Central Coast Doula Assoc.</li>
	</ul>
</dd>

<dt>Personal Interests:</dt>
<dd>I enjoy reading, teaching, writing, theatre, dancing, improvisation, good food and wine with my husband, and my 2 3/4 cats.</dd>
</dl>
<div class="misc">
	<img src="/media/images/visa_mastercard.png" alt="I accept Visa and Mastercard" />
	<p>I accept Visa and Mastercard</p>
	<p>Please call me today for an appointment</p>
	<p>(805) 680-5287</p>
	<p>Healing Body, Mind and Spirit</p>
	<p><img src="/media/images/bodyworklogo.gif" alt="Body Work" /></p>
	<p><img src="/media/images/anma.gif" alt="American Naturopathic Medical Association" /></p>
</div>
</div>

{% endblock %}
