{% extends "static_section.html" %}

{% block content %}
<div class="section">
  <h3>Natural Health Consultations</h3>
		<p>$125 for initial consultation, $50 follow up, $50 phone consultation. </p>
		<p>Appointments are available Mon – Fri from 9am to 5pm and select evenings. </p>
		<p>Please call for an appointment (<strong>805-680-5287</strong>). Appointments will be set about a week or 2 after your initial phone call to allow time for you to fill out the intake form and for me to go over it, research and pull information for you on your concerns. In the case of an acute problem, like a cold, flu or sore throat, quicker appointments will be made or a phone consult will take place.</p>
		<p>Please respect our cancellation policy and give at least 24 notice to cancel. You will be billed for the amount of the appointment if not cancelled with sufficient time or a no show. We will ask for a credit card to hold your spot, at the time you schedule the appointment.</p>
</div>
<div class="section">
		<h3>My Services</h3>
		<p>I can help with</p>
		<p>PMS, digestive problems, constipation, weight loss, headaches, muscle and body aches and injuries, emotional stress and strain, allergies, sleep issues, chronic fatique, fibromyalgia, TMJ.</p>
		<dl>
		  <dt>Herbs</dt>
		  <dd>Formulated pre-made or custom made herbals. If I make the formulas for you, they can take up to two weeks. Price varies depending on whether    the herb is pre-made or handmade by Kathy.</dd>
		  <dt>Homeopathics</dt>
		  <dd>Homeopathy is based on the principle that like cures like. The    substance to be used in healing is placed on a small sugar ball or lactose    tablet which is then dissolved in the mouth. Homeopathics contain the "medicine" in such a small dose that it isn’t even chemically present    anymore. It works on a cellular level. Price varies, but is usually around $10</dd>
		  <dt>Reiki</dt>
		  <dd>Is a hands on healing technique that channels universal energy through the    practitioner, in to the person being healed. It heals on all levels of body,    mind and spirit and is great for stress, grief, emotional changes and    physical pain and discomfort. $85/session. Classes are also available.</dd>
		  <dt>Massage</dt>
		  <dd>Please see our massage website for more information. <a href="http://www.healingcirclemassage.com" target="_BLANK">www.healingcirclemassage.com</a></dd>
		  <dt>Bach Flower Essences</dt>
		  <dd>Edward Bach discovered 38 flower essences that help    balance out our emotional/spiritual personalities. By working with each    client individually, a formula of these essences is customized to help    achieve balance. Issues such as jealousy, anger, depression, excessive    worry and anxiety can be addressed. Custom formula plus action plan and    affirmations are included. $35 with consultation. $85 without consultation</dd>
		  <dt>Nutrition</dt>
		  <dd>consulting and supplements. I don’t carry a wide range of supplements    so typically refer you to a local health food store such as Lassens or Lazy Acres. </dd>
		  <dt>Cleansing and fasting</dt>
		  <dd>Consulting and supplements</dd>
		  <dt>Birth services</dt>
		  <dd>Pregnancy massage (www.healingcirclemassage.com) and birth    assisting. I feel my role as a birth assistant is to support the mother and her   partner with massage, Reiki, aromatherapy, etc., and to make sure her    birth plan is followed. Sliding scale from $150 to $400. </dd>
		  <dt>Ear coning</dt>
		  <dd>An ancient technique using a hollow paraffin or beeswax taper to    draw impurities out of the ear. A non-invasive procedure taking about 30    minutes, ear coning (or candling) has been known to help swimmer's ear,    tinnitus, vertigo, hearing loss and eliminate excessive ear wax.</dd>
		  <dt>Instruction</dt>
		  <dd>reiki classes, massage classes, massage your mate class. </dd>
		  </dl>
   </div>
  </div>
 </div>

{% endblock %}
