{% extends "base.html" %}

{% block section_css %}<link rel="stylesheet" type="text/css" href="/media/css/static.css">{% endblock %}

{% block left_area_content %}
<!--
<h2>LEFT AREA HEADER</h2>
<ul class="section">
  <li>
	<a href="/product/">Product</a>
	<ul class="subsection">
	  <li class="active"><a href="/station/description/">Description</a></li>
	</ul>
  </li>
</ul>
-->
{% endblock %}

{% block content %}
	<h1>{% block page_header %}{% endblock %}</h1>
	
	{% block content_detail %}
	
	{% endblock %}
{% endblock %}
